@font-face {
  font-family: "Amazon Ember";
  src: url("/fonts/AmazonEmber-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Amazon Ember";
  src: url("/fonts/AmazonEmber-Bold.woff2") format("woff2");
  font-weight: 700;
}

body {
  font-family: "Amazon Ember", "Alegreya Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents the horizontal scroll/white gap */
  width: 100%;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* This hides the horizontal 'ghost' space */
}